version: '1.0'

services:
  postgres:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: verysecret!
      POSTGRES_DB: flowers_db
    ports:
      - 5432:5432